_archive/
_devdocs/
_docs/*.jpg
_docs/ads.txt
_docs/app-ads.txt
_docs/gplay.html
_docs/photo-finish/
_other/
_saved/
tmp/
.gradle/
/play-store-assets/
.idea/*
!.idea/inspectionProfiles

build/
app/release/
gfx/
testdata/

*.db
*.iml
*.apk
*.ap_

local.properties
uninstall.bat
